label {
    color: black;
    font-weight: 700;
}

input {
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: 1px solid lightsalmon;
    padding: 0 8px;
    font-size: 1.3rem;
    color: salmon;
    background: lightgoldenrodyellow;
    width: 100%;
}

input:disabled {
    background: lightgray;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightsalmon;
}

#main_converter {
    padding: 3rem 4rem 3rem 3rem;
    border-radius: 8px;
    width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background: lightgoldenrodyellow;
    justify-content: space-around;

}

.input_group > *{
    margin: 10px 0;
}

.div_inverter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn_inverter {
    padding: 0 10px;
    border-radius: 8px;
    height: 55px;
    font-weight: 700;
    background: salmon;
    border: lightsalmon; 
    color: lightgoldenrodyellow;
    width: max-content;
    transition: .3s ease-in;
}

#btn_inverter:hover {
    cursor: pointer;
    opacity: .9;
}

